<h1>台北市公車查詢</h1>
<form action="#">
  <label for="bus_route">請輸入欲查詢的公車路線</label>
  <input type="text" name="" id="bus_route" style="border: 1px solid black;">
  <input type="submit" value="送出" style="border: 1px solid black;" class="search_btn">
</form>

<div class="bus_information">

</div>

